.aside {
  margin-top: 34px;
  width: 302px;

  &__box {
    padding: 25px 22px 36px;
    border-radius: 12px;
    background-color: #fff;
    margin-bottom: 40px;
  }

  &__title {
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
  }

  &__refferal {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    background: #EDF0FA;
    border-radius: 6px;
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
    }
  }

  &__refferal-id {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    text-decoration: underline;
  }

  &__results {
    margin-top: 24px;

    li + li {
      margin-top: 12px;
    }
  }

  &__result-item {
    height: 100px;
    width: 100%;
    padding: 21px 22px;
    border-radius: 8px;
    background-color: #5056E6;

    &:first-child {
      background-color:#797EFC;
    }

    &:nth-child(3) {
      background-color: #383DAB;
    }

    &:last-child {
      background-color: #222566;
    }
  }

  &__result-number {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: #fff;

    span {
      margin-left: 6px;
      font-size: 28px;
      line-height: 28px;
    }
  }

  &__result-text {
    margin-top: 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
  }
}

