.card {
  max-width: 227px;
  max-height: 320px;
  background-color: #FFFFFF;
  box-shadow: -8.02665px 21.07px 41.1366px rgba(79, 135, 164, 0.21);
  border-radius: 18px;
  padding: 7px;

  &__loading {
    box-shadow: none;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='44' height='42' viewBox='0 0 44 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M22 0.555908C23.1046 0.555908 24 1.39269 24 2.42492V6.16294C24 7.19516 23.1046 8.03195 22 8.03195C20.8954 8.03195 20 7.19516 20 6.16294V2.42492C20 1.39269 20.8954 0.555908 22 0.555908ZM10.9998 3.31091C11.9563 2.79467 13.1795 3.1008 13.7319 3.99466L15.7319 7.23085C16.2843 8.12472 15.9567 9.26783 15.0002 9.78406C14.0437 10.3003 12.8205 9.99417 12.2681 9.10031L10.2681 5.86412C9.71567 4.97026 10.0433 3.82715 10.9998 3.31091ZM33.0002 3.31091C33.9567 3.82715 34.2843 4.97026 33.7319 5.86412L31.7319 9.10031C31.1795 9.99417 29.9563 10.3003 28.9998 9.78406C28.0433 9.26783 27.7157 8.12472 28.2681 7.23085L30.2681 3.99466C30.8205 3.1008 32.0437 2.79467 33.0002 3.31091ZM41.052 10.8354C41.6043 11.7294 41.2766 12.8724 40.32 13.3886L36.856 15.2576C35.8994 15.7737 34.6763 15.4674 34.124 14.5735C33.5717 13.6796 33.8994 12.5365 34.856 12.0204L38.32 10.1514C39.2766 9.63524 40.4997 9.94151 41.052 10.8354ZM2.94809 10.8352C3.5005 9.94138 4.72373 9.63525 5.68024 10.1515L9.14324 12.0205C10.0997 12.5367 10.4273 13.6798 9.87491 14.5737C9.3225 15.4676 8.09927 15.7737 7.14276 15.2575L3.67976 13.3884C2.72325 12.8722 2.39567 11.7291 2.94809 10.8352ZM0 21.115C0 20.0828 0.89543 19.246 2 19.246H6C7.10457 19.246 8 20.0828 8 21.115C8 22.1472 7.10457 22.984 6 22.984H2C0.89543 22.984 0 22.1472 0 21.115ZM36 21.115C36 20.0828 36.8954 19.246 38 19.246H42C43.1046 19.246 44 20.0828 44 21.115C44 22.1472 43.1046 22.984 42 22.984H38C36.8954 22.984 36 22.1472 36 21.115ZM9.87491 27.6563C10.4273 28.5502 10.0997 29.6933 9.14324 30.2095L5.68024 32.0785C4.72373 32.5948 3.5005 32.2887 2.94809 31.3948C2.39567 30.5009 2.72325 29.3578 3.67976 28.8416L7.14276 26.9726C8.09927 26.4563 9.3225 26.7625 9.87491 27.6563ZM34.124 27.6565C34.6763 26.7626 35.8994 26.4563 36.856 26.9725L40.32 28.8415C41.2766 29.3576 41.6043 30.5007 41.052 31.3946C40.4997 32.2885 39.2766 32.5948 38.32 32.0787L34.856 30.2097C33.8994 29.6935 33.5717 28.5505 34.124 27.6565ZM15 32.4449C15.9566 32.961 16.2843 34.1041 15.732 34.998L13.732 38.2352C13.1797 39.1291 11.9566 39.4354 11 38.9192C10.0434 38.4031 9.71566 37.26 10.268 36.3661L12.268 33.129C12.8203 32.2351 14.0434 31.9288 15 32.4449ZM29 32.4449C29.9566 31.9288 31.1797 32.2351 31.732 33.129L33.732 36.3661C34.2843 37.26 33.9566 38.4031 33 38.9192C32.0434 39.4354 30.8203 39.1291 30.268 38.2352L28.268 34.998C27.7157 34.1041 28.0434 32.961 29 32.4449ZM22 34.1981C23.1046 34.1981 24 35.0349 24 36.0671V39.8051C24 40.8373 23.1046 41.6741 22 41.6741C20.8954 41.6741 20 40.8373 20 39.8051V36.0671C20 35.0349 20.8954 34.1981 22 34.1981Z' fill='%232B2D65'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-position: center;
      width: 42px;
      height: 42px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__image {
    min-height: 211px;
    min-width: 211px;
    border-radius: 14px;
  }

  &__img {
    border-radius: 14px;
  }

  &__info {
    padding-top: 10px;
    text-align: left;
  }

  &__series {
    font-size: 10px;
    line-height: 13px;
    font-weight: 500;
    color: #B3B4CA;
  }

  &__title {
    font-size: 15px;
    line-height: 20px;
  }

  &__divider {
    margin-top: 10px;
    border-bottom: 0.8px solid #E5E8F3;
  }

  &__footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__status {
    display: flex;
    position: relative;
    padding: 4px 7px 4px 20px;
    font-size: 10px;
    line-height: 10px;
    font-weight: 600;
    color: #FFF;
    border-radius: 13px;

    &::before {
      content: "";
      position: absolute;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.53761 1.34668L3.41547 3.60011L3.88952 1.34668L5.53761 1.34668ZM7.32616 1.34668L7.80937 3.60011L5.71013 1.34668L7.32616 1.34668ZM7.71242 4.08027H3.51242L5.61318 1.82149L7.71242 4.08027ZM2.91853 4.08027L0.973489 4.08027L3.46891 1.45508L2.91853 4.08027ZM2.94143 4.47111L4.84295 9.48485L0.958984 4.47111H2.94143ZM3.36585 4.47111L7.86051 4.47111L5.61318 10.2978L3.36585 4.47111ZM8.30631 4.08027L7.74601 1.44439L10.2368 4.08027L8.30631 4.08027ZM6.38494 9.48103L8.2857 4.47111H10.2605L6.38494 9.48103Z' fill='white'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      width: 10px;
      height: 10px;
      left: 7px;
      margin-top: 2px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__price {
    position: relative;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;

    &::before {
      content: "";
      position: absolute;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_330_495)'%3e%3cpath d='M7.23915 13.8098C3.67453 13.8098 0.785156 10.9205 0.785156 7.35585C0.785156 3.79123 3.67453 0.901855 7.23915 0.901855C10.8038 0.901855 13.6932 3.79123 13.6932 7.35585C13.6932 10.9205 10.8038 13.8098 7.23915 13.8098ZM5.67245 6.71207L7.23915 5.14536L8.80667 6.71287L9.7183 5.80125L7.23915 3.3221L4.76082 5.80044L5.67245 6.71207ZM3.20541 7.35585L4.11703 8.26748L5.02866 7.35585L4.11703 6.44423L3.20541 7.35585ZM5.67245 7.99964L4.75961 8.91006L4.76082 8.91127L7.23915 11.3896L9.7183 8.91046V8.91006L8.80667 7.99843L7.23915 9.56635L5.67245 7.99964ZM9.44965 7.35585L10.3613 8.26748L11.2729 7.35585L10.3613 6.44423L9.44965 7.35585ZM8.16369 7.35505H8.16409L7.23915 6.43051L6.55543 7.11383L6.47677 7.19249L6.31502 7.35464L6.31341 7.35585L6.31502 7.35706L7.23875 8.28119L8.16409 7.35626L8.1645 7.35585L8.16369 7.35545V7.35505Z' fill='%23FCBD43'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_330_495'%3e%3crect width='12.908' height='12.908' fill='white' transform='translate(0.785156 0.901855)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
      background-position: center;
      background-repeat: no-repeat;
      width: 13px;
      height: 13px;
      left: -15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__btn {
    margin-top: 45px;
    height: 58px;
    padding: 18px 40px;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #fff;
    text-transform: uppercase;
    border-radius: 8px;
    background: linear-gradient(92.05deg, #FFAB5D 7.98%, #FEE97B 131.44%);
    transition: opacity 0.3s ease-in;

    &--soon {
      padding: 18px 58px;
      background: #E5E8F3;
      color: #B3B4CA;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  &__btn-loading {
    position: relative;
    opacity: 0.5;
    width: 250px;

    &::before {
      content: '';
      position: absolute;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.5 0C12.0523 0 12.5 0.447715 12.5 1V3C12.5 3.55228 12.0523 4 11.5 4C10.9477 4 10.5 3.55228 10.5 3V1C10.5 0.447715 10.9477 0 11.5 0ZM5.99988 1.47404C6.47814 1.19784 7.08975 1.36163 7.36596 1.83988L8.36596 3.57138C8.64216 4.04963 8.47837 4.66125 8.00012 4.93746C7.52186 5.21366 6.91025 5.04987 6.63404 4.57162L5.63404 2.84012C5.35784 2.36186 5.52163 1.75025 5.99988 1.47404ZM17.0001 1.47404C17.4784 1.75025 17.6422 2.36186 17.366 2.84012L16.366 4.57162C16.0897 5.04987 15.4781 5.21366 14.9999 4.93746C14.5216 4.66125 14.3578 4.04963 14.634 3.57138L15.634 1.83988C15.9103 1.36163 16.5219 1.19784 17.0001 1.47404ZM21.026 5.49999C21.3022 5.97828 21.1383 6.58987 20.66 6.86602L18.928 7.86602C18.4497 8.14217 17.8381 7.9783 17.562 7.50001C17.2858 7.02172 17.4497 6.41013 17.928 6.13398L19.66 5.13398C20.1383 4.85783 20.7499 5.0217 21.026 5.49999ZM1.97404 5.49988C2.25025 5.02163 2.86186 4.85784 3.34012 5.13404L5.07162 6.13404C5.54987 6.41025 5.71366 7.02186 5.43746 7.50012C5.16125 7.97837 4.54963 8.14216 4.07138 7.86596L2.33988 6.86596C1.86163 6.58975 1.69784 5.97814 1.97404 5.49988ZM0.5 11C0.5 10.4477 0.947715 10 1.5 10H3.5C4.05228 10 4.5 10.4477 4.5 11C4.5 11.5523 4.05228 12 3.5 12H1.5C0.947715 12 0.5 11.5523 0.5 11ZM18.5 11C18.5 10.4477 18.9477 10 19.5 10H21.5C22.0523 10 22.5 10.4477 22.5 11C22.5 11.5523 22.0523 12 21.5 12H19.5C18.9477 12 18.5 11.5523 18.5 11ZM5.43746 14.4999C5.71366 14.9781 5.54987 15.5897 5.07162 15.866L3.34012 16.866C2.86186 17.1422 2.25025 16.9784 1.97404 16.5001C1.69784 16.0219 1.86163 15.4103 2.33988 15.134L4.07138 14.134C4.54963 13.8578 5.16125 14.0216 5.43746 14.4999ZM17.562 14.5C17.8381 14.0217 18.4497 13.8578 18.928 14.134L20.66 15.134C21.1383 15.4101 21.3022 16.0217 21.026 16.5C20.7499 16.9783 20.1383 17.1422 19.66 16.866L17.928 15.866C17.4497 15.5899 17.2858 14.9783 17.562 14.5ZM8.00001 17.062C8.4783 17.3381 8.64217 17.9497 8.36602 18.428L7.36602 20.16C7.08987 20.6383 6.47828 20.8022 5.99999 20.526C5.5217 20.2499 5.35783 19.6383 5.63398 19.16L6.63398 17.428C6.91013 16.9497 7.52172 16.7858 8.00001 17.062ZM15 17.062C15.4783 16.7858 16.0899 16.9497 16.366 17.428L17.366 19.16C17.6422 19.6383 17.4783 20.2499 17 20.526C16.5217 20.8022 15.9101 20.6383 15.634 20.16L14.634 18.428C14.3578 17.9497 14.5217 17.3381 15 17.062ZM11.5 18C12.0523 18 12.5 18.4477 12.5 19V21C12.5 21.5523 12.0523 22 11.5 22C10.9477 22 10.5 21.5523 10.5 21V19C10.5 18.4477 10.9477 18 11.5 18Z' fill='white'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-position: center;
      width: 22px;
      height: 22px;
      top: 50%;
      transform: translateY(-50%);
      left: 50px;
    }
  }

  &__calculator {
    margin-top: 50px;
    width: 100%;
  }

  &__nft-price {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text {
      margin-top: 0;
      color: #B3B4CA;
    }
  }

  &__calculator-content {
    margin-top: 16px;
    width: 100%;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__calculator-box {
    display: flex;
    width: 102px;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #E5E8F3;
    border-radius: 8px;
  }

  &__calculator-board {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
  }

  &__calculator-btn {
    margin-top: 0;
  }
}
