.content {
  padding: 180px 0 55px;

  &__marketplace {
    padding: 150px 0 100px;
  }

  &__inner {
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    max-width: 410px;
    width: 100%;
    min-height: 625px;
    background-color: #fff;
    border: 1px solid #E5E8F3;
    border-radius: 18px;
    padding: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='42' height='59' viewBox='0 0 42 59' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath opacity='0.47' d='M17.4135 43.1001C16.9741 43.1001 16.5896 42.937 16.2601 42.6109C15.9305 42.2847 15.7658 41.9042 15.7658 41.4693V38.8601C16.0404 36.3053 16.8368 34.0766 18.1549 32.174C19.528 30.2171 21.4503 27.9884 23.9218 25.4879C25.7343 23.7484 27.1074 22.2536 28.0411 21.0033C28.9748 19.7531 29.524 18.4757 29.6888 17.1711C29.9085 14.9424 29.167 13.1757 27.4644 11.8711C25.7618 10.5121 23.7022 9.83266 21.2855 9.83266C15.9031 9.83266 12.6626 12.4691 11.5642 17.7418C11.1797 18.9921 10.3833 19.6172 9.17501 19.6172H2.17232C1.62309 19.6172 1.18371 19.4541 0.85417 19.128C0.524632 18.7475 0.359863 18.2582 0.359863 17.6603C0.469709 14.6706 1.37594 11.8711 3.07855 9.2619C4.78117 6.65269 7.2527 4.55989 10.4932 2.98349C13.7336 1.35273 17.5233 0.537354 21.8622 0.537354C26.4208 0.537354 30.1556 1.27119 33.0665 2.73887C36.0324 4.1522 38.1744 5.97321 39.4925 8.2019C40.8656 10.4306 41.5521 12.7408 41.5521 15.1326C41.5521 17.9049 40.9205 20.2967 39.6573 22.3079C38.449 24.2649 36.6091 26.5479 34.1375 29.1571C32.38 31.0597 31.0069 32.6904 30.0183 34.0494C29.0846 35.354 28.453 36.7673 28.1235 38.2894C27.9038 39.6483 27.7665 40.5724 27.7115 41.0616C27.2721 42.4206 26.5307 43.1001 25.4871 43.1001H17.4135ZM17.1663 58.4292C16.6171 58.4292 16.1502 58.2389 15.7658 57.8584C15.3813 57.4779 15.1891 57.0159 15.1891 56.4723V49.3785C15.1891 48.8349 15.3813 48.3729 15.7658 47.9923C16.1502 47.5575 16.6171 47.3401 17.1663 47.3401H25.1576C25.7618 47.3401 26.2561 47.5303 26.6405 47.9108C27.025 48.2913 27.2172 48.7806 27.2172 49.3785V56.4723C27.2172 57.0159 27.025 57.4779 26.6405 57.8584C26.2561 58.2389 25.7618 58.4292 25.1576 58.4292H17.1663Z' fill='url(%23paint0_linear_175_7317)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_175_7317' x1='3.34757' y1='16.9758' x2='55.9845' y2='18.3134' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FFAB5D'/%3e%3cstop offset='1' stop-color='%23FEE97B'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-size: cover;
      width: 41px;
      height: 51px;
      transform: rotate(-32deg);
      left: 27px;
      top: 30px;
    }

    &::after {
      content: '';
      position: absolute;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='42' height='59' viewBox='0 0 42 59' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath opacity='0.47' d='M17.4135 43.1001C16.9741 43.1001 16.5896 42.937 16.2601 42.6109C15.9305 42.2847 15.7658 41.9042 15.7658 41.4693V38.8601C16.0404 36.3053 16.8368 34.0766 18.1549 32.174C19.528 30.2171 21.4503 27.9884 23.9218 25.4879C25.7343 23.7484 27.1074 22.2536 28.0411 21.0033C28.9748 19.7531 29.524 18.4757 29.6888 17.1711C29.9085 14.9424 29.167 13.1757 27.4644 11.8711C25.7618 10.5121 23.7022 9.83266 21.2855 9.83266C15.9031 9.83266 12.6626 12.4691 11.5642 17.7418C11.1797 18.9921 10.3833 19.6172 9.17501 19.6172H2.17232C1.62309 19.6172 1.18371 19.4541 0.85417 19.128C0.524632 18.7475 0.359863 18.2582 0.359863 17.6603C0.469709 14.6706 1.37594 11.8711 3.07855 9.2619C4.78117 6.65269 7.2527 4.55989 10.4932 2.98349C13.7336 1.35273 17.5233 0.537354 21.8622 0.537354C26.4208 0.537354 30.1556 1.27119 33.0665 2.73887C36.0324 4.1522 38.1744 5.97321 39.4925 8.2019C40.8656 10.4306 41.5521 12.7408 41.5521 15.1326C41.5521 17.9049 40.9205 20.2967 39.6573 22.3079C38.449 24.2649 36.6091 26.5479 34.1375 29.1571C32.38 31.0597 31.0069 32.6904 30.0183 34.0494C29.0846 35.354 28.453 36.7673 28.1235 38.2894C27.9038 39.6483 27.7665 40.5724 27.7115 41.0616C27.2721 42.4206 26.5307 43.1001 25.4871 43.1001H17.4135ZM17.1663 58.4292C16.6171 58.4292 16.1502 58.2389 15.7658 57.8584C15.3813 57.4779 15.1891 57.0159 15.1891 56.4723V49.3785C15.1891 48.8349 15.3813 48.3729 15.7658 47.9923C16.1502 47.5575 16.6171 47.3401 17.1663 47.3401H25.1576C25.7618 47.3401 26.2561 47.5303 26.6405 47.9108C27.025 48.2913 27.2172 48.7806 27.2172 49.3785V56.4723C27.2172 57.0159 27.025 57.4779 26.6405 57.8584C26.2561 58.2389 25.7618 58.4292 25.1576 58.4292H17.1663Z' fill='url(%23paint0_linear_175_7317)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_175_7317' x1='3.34757' y1='16.9758' x2='55.9845' y2='18.3134' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FFAB5D'/%3e%3cstop offset='1' stop-color='%23FEE97B'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-size: cover;
      width: 24px;
      height: 35px;
      transform: rotate(27deg);
      right: 20px;
      top: 110px;
    }
  }

  &__card {
    min-width: 280px;
    min-height: 393px;
    padding: 10px;

    .card__image {
      max-width: 100%;
      max-height: 260px;
    }

    .card__info {
      padding-top: 12px;
    }

    .card__series {
      font-size: 12px;
      line-height: 15px;
    }

    .card__title {
      font-size: 18px;
      line-height: 24px;
    }

    .card__divider {
      margin-top: 12px;
    }

    .card__footer {
      margin-top: 21px;
    }
  }

  &__card-profile {
    margin-top: 10px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #4E55FF;
    text-decoration: underline;
  }

  &__card-title {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
  }

  &__right {
    max-width: 522px;

  }

  &__info {
    max-width: 490px;
    padding-top: 63px;
  }

  &__more {
    display: flex;
    align-items: center;
    margin-top: 16px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    transition: all 0.3s ease;

    img {
      margin-left: 5px;
      width: 20px;
      height: 20px;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  &__timer {
    margin-top: 75px;
    max-width: 460px;
    color: #fff;
    background: linear-gradient(98.59deg, #4E55FF 8.54%, #3A7CFD 34.57%, #24A1FB 62.94%, #00DAF8 109.42%);
  }

  &__congrats {
    margin-top: 100px;
    width: 100%;
    min-height: 209px;
    background: #FFFFFF;
    border: 1px solid #E5E8F3;
    border-radius: 12px;
    padding: 32px;
  }

  &__congrats-title {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
  }

  &__congrats-text {
    margin-top: 8px;
    max-width: 390px;
    font-size: 14px;
    line-height: 24px;
  }

  &__congrats-btns {
    margin-top: 26px;
    max-width: 311px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__congrats-btn {
    padding: 12px 17px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #B3B4CA;
    border: 1px solid #B3B4CA;
    border-radius: 8px;
    transition: opacity 0.1s step-end;

    &--more {
      font-weight: 500;
      border: transparent;
      color: #fff;
      background: linear-gradient(92.05deg, #FFAB5D 7.98%, #FEE97B 131.44%);
    }

    &:hover {
      opacity: 0.5;
    }
  }

  &__minted {
    max-width: 410px;
    width: 100%;
    min-height: 625px;
    background-color: #fff;
    border: 1px solid #E5E8F3;
    border-radius: 18px;
    padding: 38px 36px 44px 36px;
  }

  &__minted-title {
    line-height: 21px;
    font-weight: 500;
    text-align: center;
  }

  &__minted-box {
    margin-top: 28px;
    width: 100%;
    position: relative;
  }

  &__minted-slider {
    height: 490px;
  }

  &__minted-slide {
    .card {
      padding: 5px;
      max-width: 160px;
      box-sizing: border-box;
      box-shadow: none;
      border: 1px solid rgba(217, 221, 240, 0.61);
    }

    .card__image {
      min-width: 150px;
      min-height: 150px;
    }

    .card__info {
      padding-top: 7px;
    }

    .card__series {
      font-size: 7px;
      line-height: 9px;
    }

    .card__title {
      font-size: 10px;
      line-height: 14px;
    }

    .card__divider {
      margin-top: 7px;
    }

    .card__footer {
      margin-top: 7px;
    }

    .card__status {
      font-size: 7px;
      line-height: 7px;
    }
  }

  &__arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: -35px;
    width: 120px;
    height: 25px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__arrow {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #B3B4CA;
    cursor: pointer;


    &:hover {
      transform: scale(1.3);
      transition: all 0.5s ease-in-out;
      transition-duration: 0.5s;
    }

    &::before {
      content: '';
      position: absolute;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.46967 0.46967C0.762563 0.176777 1.23744 0.176777 1.53033 0.46967L5.53033 4.46967C5.67098 4.61032 5.75 4.80109 5.75 5C5.75 5.19891 5.67098 5.38968 5.53033 5.53033L1.53033 9.53033C1.23744 9.82322 0.762563 9.82322 0.46967 9.53033C0.176777 9.23744 0.176777 8.76256 0.46967 8.46967L3.93934 5L0.46967 1.53033C0.176777 1.23744 0.176777 0.762563 0.46967 0.46967Z' fill='%23B3B4CA'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: center;
      width: 6px;
      height: 10px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__arrow-prev::before {
    transform: translate(-50%, -50%) rotate(-180deg);
  }


  // new page
  &__slider {
    width: 280px;
    height: 393px;
  }

  // Marketplace
  &__tabs {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__tabs-list {
    display: flex;
  }

  &__tabs-btn {
    width: 116px;
    height: 35px;
    padding: 1px 0 13px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #B3B4CA;
    transition: color 0.3s;

    &:hover {
      color: #2B2D65;
    }

    &--active {
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      color: #4E55FF;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
      pointer-events: none;
      border-bottom: 1.5px solid #4E55FF;
    }
  }

  &__tabs-content {
    display: none;

    &--active {
      display: block;
      width: 100%;
    }
  }

  &__tabs-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__tabs-inner {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
  }

  &__filter {
    margin-top: 30px;
    max-width: 282px;
    width: 100%;
    max-height: 680px;
    padding: 32px 22px;
    background: #FFFFFF;
    border-radius: 12px;
  }

  &__filter-title {
    display: flex;
    align-items: center;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    margin-bottom: 18px;

    svg {
      margin-left: 5px;
      margin-right: 2px;
    }
  }

  &__filter-rarity {
    margin-bottom: 52px;

    label + label {
      margin-top: 14px;
    }
  }


  &__filter-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
  }

  &__filter-input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:checked + .content__filter-checkbox {
      background-color: #4E55FF;
    }
  }

  &__filter-checkbox {
    display: block;
    position: relative;
    width: 19px;
    height: 19px;
    border: 1px solid #B3B4CA;
    border-radius: 3px;
    margin-right: 12px;

    &::before {
      content: "";
      position: absolute;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.53033 3.46967C1.23744 3.17678 0.762563 3.17678 0.46967 3.46967C0.176777 3.76256 0.176777 4.23744 0.46967 4.53033L1.53033 3.46967ZM4 7L3.46967 7.53033C3.76256 7.82322 4.23744 7.82322 4.53033 7.53033L4 7ZM10.5303 1.53033C10.8232 1.23744 10.8232 0.762563 10.5303 0.46967C10.2374 0.176777 9.76256 0.176777 9.46967 0.46967L10.5303 1.53033ZM0.46967 4.53033L3.46967 7.53033L4.53033 6.46967L1.53033 3.46967L0.46967 4.53033ZM4.53033 7.53033L10.5303 1.53033L9.46967 0.46967L3.46967 6.46967L4.53033 7.53033Z' fill='white'/%3e%3c/svg%3e");
      background-position: center;
      background-repeat: no-repeat;
      width: 9px;
      height: 6px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }


  &__filter-status {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 52px;
  }

  &__filter-price {
    margin-bottom: 60px;
  }

  &__status-btn {
    width: 80px;
    height: 30px;
    padding: 6px 19px 8px;
    border-radius: 100px;
    border: 1px solid #B3B4CA;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;

    &--active {
      color: #4E55FF;
      border: 1px solid #4E55FF;
    }
  }

  &__filter-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__filter-btn {
    padding: 12px 17px;
    width: 113px;
    height: 42px;
    border-radius: 8px;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;

    &--clear {
      border: 1px solid #B3B4CA;
    }

    &--find {
      background: linear-gradient(98.59deg, #4E55FF 8.54%, #3A7CFD 34.57%, #24A1FB 62.94%, #00DAF8 109.42%);
      color: #fff;
    }
  }

  &__tabs-cards {
    max-width: 966px;
    width: 100%;
    padding: 18px 33px;

    // &--profile {
    //   padding: 0;
    // }
  }

  &__cards-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__card-count {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
  }

  &__cards-empty {
    margin-top: 31px;
    max-width: 340px;
    font-size: 16px;
    line-height: 23px;
  }

  &__cards {
    position: relative;
    margin-top: 25px;
    max-height: 1227px;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    gap: 30px;
    overflow-y: scroll;

    .card {
      max-width: 280px;
      width: 100%;
      min-height: 393px;
      box-shadow: none;
    }

    .card__image {
      max-width: 260px;
      max-height: 260px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.content__minted-slide.swiper-slide {
  height: calc((100% - 20px) / 2);
  overflow: hidden;
}

.swiper-pagination-fraction {
  width: 85px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -35px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.content__left-nfts {
  position: relative;
  width: 280px;
  height: 393px;
  box-shadow: 0px 0px 18px rgba(217, 221, 240, 0.61);
  border-radius: 12px;

  .content__card {
    max-width: 280px;
    min-width: auto;
    min-height: 393px;
    padding: 10px;
    box-shadow: none;

    .card__image {
      width: 260px;
      height: 260px;
    }

    .card__img {
      width: 260px;
      height: 260px;
    }

    .card__info {
      padding-top: 12px;
    }

    .card__series {
      font-size: 12px;
      line-height: 15px;
    }

    .card__title {
      font-size: 18px;
      line-height: 24px;
    }

    .card__divider {
      margin-top: 12px;
    }

    .card__footer {
      margin-top: 21px;
    }
  }
}

// profile page
.content__profile {
    padding: 150px 0 100px;

  .container {
    padding: 0;
  }

  .content__tabs-inner {
    margin-top: 0;
    max-width: 900px;
    width: 100%;
  }

  .content__tabs-cards {
    max-width: 900px;
    padding: 0;
  }

  .content__cards {
    max-height: 820px;
  }
}

// farm page
.content__farm {
  margin-top: 120px;
  margin-bottom: 100px;
}

.content__farm-inner {
  height: 100%;
  display: flex;
  justify-content: space-between;

  .aside {
    margin-top: 0;
    position: sticky;
    top: 20px;
    max-height: 500px;
  }
}



.content__farm-title {
  font-family: "Rubik";
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  margin-bottom: 50px;
}

.content__farm-wrapp {
  max-width: 635px;
  width: 100%;
  min-height: 312px;

  .farm__card + .farm__card {
    margin-top: 30px;
  }
}



