.discover {
  margin: 20px 0;

  &__inner {
    width: 100%;
    min-height: 840px;
    background: linear-gradient(98.59deg, #4E55FF 8.54%, #3A7CFD 34.57%, #24A1FB 62.94%, #00DAF8 109.42%);
    border-radius: 24px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='182' height='59' viewBox='0 0 182 59' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M58.6198 19.7015C45.57 43.7101 20.72 60 0 60H182C165.738 60 143.345 54.8851 123.2 19.7015C107.482 -7.75062 72.24 -5.35648 58.6198 19.7015Z' fill='%23F8F9FD'/%3e%3c/svg%3e");
      width: 182px;
      height: 59px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &--connected {
      background: linear-gradient(98.59deg, #4E55FF 8.54%, #3A7CFD 34.57%, #24A1FB 62.94%, #00DAF8 109.42%);

      .discover__card:last-child {
        bottom: 0;
        top: 100px;
        right: 20px;
      }
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    min-height: 535px;
    width: 1110px;
  }

  &__block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__block-head {
    .title {
      padding-top: 0;
    }
  }

  &__block-subtitle {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #F4F4F9;
  }

  &__timer {
    background-color: #FFFFFF;
  }

  &__details {
    margin-top: 16px;
    font-size: 16px;
    line-height: 27px;
    font-weight: 500;
    color: #fff;
    text-align: center;

    span {
      color: transparent;
      -webkit-background-clip: text;
      background-image: linear-gradient(92.05deg, #FFAB5D 7.98%, #FEE97B 131.44%);
      font-weight: 700;
    }
  }

  &__cards {
    height: 100%;
    position: relative;
  }

  &__card {
    position: absolute;


    &:first-child {
      top: 100px;
      left: 0;
      transform: rotate(-15.95deg);
    }

    &:nth-child(even) {
      left: 50%;
      transform: translateX(-50%) rotate(-2.7deg);
    }

    &:last-child {
      bottom: 80px;
      right: 50px;
      transform: rotate(18.68deg);
    }
  }

  &__scroll {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 75px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    color: #fff;
  }

  &__content {
    margin-top: 78px;
    max-width: 365px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
    background: #FFFFFF;
    border-radius: 18px;
  }

  &__content-title {
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    line-height: 38px;
    font-weight: 700;
  }

  &__content-text {
    margin-top: 6px;
    max-width: 216px;
    text-align: center;
  }

  &__content-btn {
    margin-top: 30px;
    width: 250px;
    height: 58px;
    background: linear-gradient(92.05deg, #FFAB5D 7.98%, #FEE97B 131.44%);
    border-radius: 8px;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 2px 11px rgba(100, 81, 59, 0.43);
    transition: opacity 0.5s ease-in;

    &:hover {
      opacity: 0.5;
    }
  }
}
