.header {
  border-bottom: 1px solid #E5E8F3;
  height: 76px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: block;
    height: 86px;
    width: 76px;

    img {
      object-fit: contain;
    }
  }

  &__nav-list {
    max-width: 497px;
    display: flex;
    align-items: center;

    li + li {
      margin-left: 60px;
    }
  }

  &__btns {
    position: relative;
    width: 255px;
    display: flex;
    justify-content: space-between;
  }
}

