.header {
  border-bottom: 1px solid #E5E8F3;
  height: 76px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav-list {
    max-width: 497px;
    display: flex;
    justify-content: space-between;

    li + li {
      margin-left: 60px;
    }
  }

  &__nav-link {
    font-size: 14px;
    line-height: 19px;
    transition: color 0.3s;

    &:hover {
      color: #B3B4CA;
    }

    &--active {
      font-weight: 700;
      color: #4E55FF;
    }
  }

  &__btns {
    width: 255px;
    display: flex;
    justify-content: space-between;
  }
}

