.modal {
	--transition-time: 0.3s;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background: rgba(43, 45, 101, 0.6);
  backdrop-filter: blur(30px);
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.modal__container {
	position: relative;
	width: auto;
	margin: 50px auto;
	display: none;
	vertical-align: middle;
	background-color: #fff;
	border-radius: 20px;
	cursor: default;
  text-align: center;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.modal.is-open {
	opacity: 1;
	visibility: visible;
	transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal__container.modal-open {
	display: inline-block;
}

.fade {
	opacity: 0;
	transition: opacity var(--transition-time);
}

.fade.animate-open {
	opacity: 1;
	transition: opacity var(--transition-time);
}

.fadeInUp {
	opacity: 0;
	transform: translateY(-100px);
	transition: opacity var(--transition-time), transform var(--transition-time);
}

.fadeInUp.animate-open {
	opacity: 1;
	transform: translateY(0);
	transition: opacity var(--transition-time), transform var(--transition-time);
}

.disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.modal__close {
  width: 24px;
  height: 24px;
  color: #B3B4CA;
  cursor: pointer;
}

.modal__wallet {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-height: 430px;
}

.modal__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.modal__title {
  font-family: "Rubik";
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
}

.modal__inner {
  border-top: 1px solid #E5E8F3;
  border-bottom: 1px solid #E5E8F3;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
}

.modal__metamask {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 75px;

  &:hover {
    opacity: 0.6;
  }
}

.modal__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

.modal__bottom {
  padding: 32px;

  .wallet {
    margin-top: 16px;
    width: 100%;
  }
}

.modal__metamask-name {
  font-size: 14px;
  line-height: 24px;
}

.modal__farm {
  display: flex;
  justify-content: space-between;
  padding: 61px;
  position: relative;

  .modal__close {
    position: absolute;
    right: 32px;
    top: 32px;
  }
}

.modal__farm-info {
  margin-left: 65px;
  max-width: 385px;
  padding-top: 40px;
  text-align: left;
}

.modal__mint {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-height: 420px;
}

.modal__inner-mint {
  border-top: 1px solid #E5E8F3;
  padding: 18px 24px;
  text-align-last: left;
  font-size: 14px;
  line-height: 24px;
  color: #B3B4CA;

  .modal__text {
    margin-bottom: 8px;
    font-weight: 400;

    span {
      margin-left: 5px;
      font-weight: 700;
      color: #2B2D65;
    }
  }
}

.modal__mint-total {
  margin: 26px 0;
  width: 250px;
  min-height: 142px;
  padding: 18px;
  background: #F8F9FD;
  border: 1px solid #E5E8F3;
  border-radius: 12px;

  li + li {
    margin-top: 20px;
  }
}

.modal__mint-line {
  display: flex;
  justify-content: space-between;
  height: 45px;
}

.modal__total-checkout {
  min-width: 75px;
  display: flex;
  flex-direction: column;
  align-items: end;

  .card__price {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #2B2D65;
  }
}

.modal__total-price {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}

.modal__content-card {
  max-width: 413px;
  width: 100%;
  min-height: 546px;
  background: #FFFFFF;
  border: 1px solid #E5E8F3;
  border-radius: 18px;
  padding: 75px 65px;

  &--over {
    padding: 75px 36px;
  }
}

.modal__content-less {
  position: relative;
  width: 280px;
  height: 393px;
  box-shadow: 0px 0px 18px rgba(217, 221, 240, 0.61);
  border-radius: 12px;

  .content__card {
    max-width: 280px;
    min-width: auto;
    min-height: 365px;
    padding: 10px;
    box-shadow: none;

    .card__image {
      width: 260px;
      height: 260px;
    }

    .card__img {
      width: 260px;
      height: 260px;
    }

    .card__info {
      padding-top: 12px;
    }

    .card__series {
      font-size: 12px;
      line-height: 15px;
    }

    .card__title {
      font-size: 18px;
      line-height: 24px;
    }

    .card__divider {
      margin-top: 12px;
    }

    .card__footer {
      margin-top: 21px;
    }
  }

  .content__arrows,
  .swiper-pagination-fraction {
    bottom: -45px;
  }
}

.modal__content-over {
  position: relative;
}

.modal__over-slider {
  height: 478px;
  width: 340px;
}


.content__over-slide {
  .content__card {
    padding: 5px;
    max-width: 160px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid rgba(217, 221, 240, 0.61);
    min-width: auto;
    min-height: auto;
  }

  .card__image {
    max-width: 150px;
    max-height: 150px;
  }

  .card__info {
    padding-top: 7px;
  }

  .card__series {
    font-size: 7px;
    line-height: 9px;
  }

  .card__title {
    font-size: 10px;
    line-height: 14px;
  }

  .card__divider {
    margin-top: 7px;
  }

  .card__footer {
    margin-top: 7px;
  }

  .card__status {
    font-size: 7px;
    line-height: 7px;
  }
}

.content__over-slide.swiper-slide {
  height: calc((100% - 20px) / 2);
  overflow: hidden;
}


.modal__bids {
  display: flex;
  flex-direction: column;
  min-height: 680px;
  max-width: 635px;
  width: 100%;
}

.modal__inner-bids {
  border-top: 1px solid #E5E8F3;
  max-width: 635px;
  width: 100%;
}

.modal__bids-list {
  max-height: 590px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #4E55FF;
    border-radius: 100px;
  }
}

.modal__bids-item {
  height: 100px;
  padding-left: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 23px;
}

.modal__bids-info {
  display: flex;
  align-items: center;
  text-align: left;
}

.modal__bids-avatar {
  height: 64px;
  width: 64px;
  border-radius: 12px;
  margin-right: 18px;

  img {
    border-radius: 12px;
  }
}

.modal__bids-id {
  font-size: 12px;
  line-height: 20px;
  color: #B3B4CA;

  span {
    color: #2B2D65;
    font-weight: 700;
  }
}

.modal__bids-amount {
  margin-left: 60px;
  display: flex;

  span {
    margin-right: 5px;
  }
}

.modal__bids-cancel {
  margin-left: 85px;
  margin-right: 42px;
  width: 156px;
  height: 42px;
  padding: 12px 35px;
  border: 1px solid #B3B4CA;
  border-radius: 8px;
  font-family: "Rubik";
  font-size: 14px;
  line-height: 17px;
  color: #B3B4CA;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    border: 1px solid #2B2D65;
    color: #2B2D65;
  }
}
