.modal {
	--transition-time: 0.3s;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background: rgba(43, 45, 101, 0.6);
  backdrop-filter: blur(30px);
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.modal__container {
	position: relative;
	width: auto;
	margin: 50px auto;
	display: none;
	vertical-align: middle;
	background-color: #fff;
	border-radius: 20px;
	cursor: default;
  text-align: center;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.modal.is-open {
	opacity: 1;
	visibility: visible;
	transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal__container.modal-open {
	display: inline-block;
}

.fade {
	opacity: 0;
	transition: opacity var(--transition-time);
}

.fade.animate-open {
	opacity: 1;
	transition: opacity var(--transition-time);
}

.fadeInUp {
	opacity: 0;
	transform: translateY(-100px);
	transition: opacity var(--transition-time), transform var(--transition-time);
}

.fadeInUp.animate-open {
	opacity: 1;
	transform: translateY(0);
	transition: opacity var(--transition-time), transform var(--transition-time);
}

.disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.modal__close {
  width: 24px;
  height: 24px;
  color: #B3B4CA;
  cursor: pointer;
}

.modal__wallet {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-height: 430px;
}

.modal__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.modal__title {
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
}

.modal__inner {
  border-top: 1px solid #E5E8F3;
  border-bottom: 1px solid #E5E8F3;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
}

.modal__metamask {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 75px;

  &:hover {
    opacity: 0.6;
  }
}

.modal__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

.modal__bottom {
  padding: 32px;

  .wallet {
    margin-top: 16px;
    width: 100%;
  }
}

.modal__metamask-name {
  font-size: 14px;
  line-height: 24px;
}

.modal__more {
  display: flex;
  justify-content: space-between;
  padding: 61px;
  position: relative;

  .modal__close {
    position: absolute;
    right: 32px;
    top: 32px;
  }
}

.modal__more-info {
  margin-left: 65px;
  max-width: 385px;
  padding-top: 40px;
  text-align: left;
}

.modal__mint {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-height: 420px;
}

.modal__inner-mint {
  border-top: 1px solid #E5E8F3;
  padding: 18px 24px;
  text-align-last: left;
  font-size: 14px;
  line-height: 24px;
  color: #B3B4CA;

  .modal__text {
    margin-bottom: 8px;
    font-weight: 400;

    span {
      margin-left: 5px;
      font-weight: 700;
      color: #2B2D65;
    }
  }
}

.modal__mint-total {
  margin: 26px 0;
  width: 250px;
  min-height: 142px;
  padding: 18px;
  background: #F8F9FD;
  border: 1px solid #E5E8F3;
  border-radius: 12px;

  li + li {
    margin-top: 20px;
  }
}

.modal__mint-line {
  display: flex;
  justify-content: space-between;
  height: 45px;
}

.modal__total-checkout {
  min-width: 75px;
  display: flex;
  flex-direction: column;
  align-items: end;

  .card__price {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #2B2D65;
  }
}

.modal__total-price {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}



