.nfts {
  min-height: 1187px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  &__subtitle {
    max-width: 470px;
    text-align: right;

    span {
      text-align: left;
      display: block;
    }
  }

  &__sliders {
    position: relative;
    margin-top: 35px;
    min-height: 715px;
    transform: rotate(-7deg);

    &::before {
      content: '';
      position: absolute;
      background-image: url('../img/left-shadow.png');
      background-size: cover;
      background-repeat: no-repeat;
      width: 200%;
      height: 200%;
      bottom: 0;
      left: -3%;
      z-index: 10;
    }

    &::after {
      content: '';
      position: absolute;
      background-image: url('../img/right-shadow.png');
      background-size: cover;
      background-repeat: no-repeat;
      width: 150%;
      height: 200%;
      bottom: 0;
      right: -3%;
      z-index: 10;
    }
  }

  &__top-slider {
    margin-top: 28px;
    min-width: 120%;
    margin-left: -10%;
    height: 380px;
    padding-top: 20px;
    // margin-bottom: 40px;
  }

  &__bot-slider {
    min-width: 120%;
    margin-left: -10%;
    height: 380px;
  }

  &__slide {
    position: relative;
    width: 227px;
    height: 380px;
  }
}
