.profile__info {
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto 0;
}

.profile__info-details {
  max-width: 635px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 45px 92px rgba(176, 210, 250, 0.09);
  border-radius: 18px;
  height: 136px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 55px;
  padding-right: 45px;
}

.profile__details {
  display: flex;
  align-items: center;
}

.profile__avatar {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  margin-right: 16px;
}

.profile__avatar-img {
  border-radius: 50%;
}

.profile__details-status {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.profile__wallet-id {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 28px;
  cursor: pointer;

  svg {
    margin-left: 5px;
  }

  img {
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 5px;
  }
}

.profile__wallet-count {
  margin-top: 12px;
  font-family: "Rubik";
  font-size: 12px;
  line-height: 14px;
  color: #b3b4ca;

  span {
    font-weight: 500;
    color: #2B2D65;
  }
}

.profile__details-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 96px;
}

.profile__details-btn {
  width: 177px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-family: "Rubik";
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  cursor: pointer;

  &--withdraw {
    border: 1px solid #4E55FF;
    color: #4E55FF;
  }

  &--bids {
    border: 1px solid #F3AC40;
    color: #F3AC40;
  }

  &:hover {
    opacity: 0.7;
  }
}


.profile__info-nfts {
  max-width: 635px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 45px 92px rgba(176, 210, 250, 0.09);
  border-radius: 18px;
  height: 136px;
  display: flex;
  align-items: center;
  padding: 0 60px;
}

.profile__nfts-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profile__nft-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
}

.profile__nft-detail {
  display: flex;
  align-items: center;

  svg {
    margin-right: 5px;
  }
}

.profile__nft-name {
  font-family: "Rubik";
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #B3B4CA;
  margin-bottom: 8px;
}

.profile__nft-count {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: #2B2D65;
}
