.timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 16px 45px;
  height: 98px;
  border-radius: 18px;

  &::before {
    content: "";
    position: absolute;
    background-image: url('../img/sprite/clock.svg');
    width: 51px;
    height: 51px;
    left: -25px;
    top: -20px;
    transform: rotate(-21deg);
  }

  &__count-content {
    display: flex;
	  justify-content: center;
    align-items: baseline;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-size: 42px;
    line-height: 67px;
    font-weight: 700;
  }

  &__count-val {
    min-width: 50px;
  }

  &__count-separator {
    margin: 0 9px;
  }

  &__text {
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
  }
}


